In [1]:
import pandas as pd

### Q1. Pandas version

What's the version of Pandas that you installed?

In [3]:
pd.__version__

'2.3.2'

### Q2. Records count

How many records are in the dataset?

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [9]:
len(df)

9704

### Q3. Fuel types

How many fuel types are presented in the dataset?

In [13]:
df.fuel_type.nunique()

2

### Q4. Missing values

How many columns in the dataset have missing values?

In [72]:
na_columns = df.isna().sum()
len(na_columns[na_columns > 0])

4

### Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [24]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [27]:
df.origin.nunique()

3

In [30]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

23.759122836520497

### Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.
Has it changed?

In [33]:
df.horsepower.median()

149.0

In [45]:
most_freq_horsepower = df.horsepower.value_counts().index[0]
print(most_freq_horsepower)

152.0

In [46]:
df.horsepower.fillna(most_freq_horsepower).median()

152.0

### Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [48]:
asia_df = df[df.origin == 'Asia']

In [50]:
asia_df = asia_df[['vehicle_weight', 'model_year']]

In [53]:
asia_7 = asia_df[:7]

In [56]:
X = asia_7.values

In [58]:
XTX = X.T.dot(X)

In [59]:
import numpy as np

In [61]:
inv_XTX = np.linalg.inv(XTX)

In [62]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [64]:
w = inv_XTX.dot(X.T).dot(y)

In [65]:
w.sum()

np.float64(0.5187709081074023)

In [67]:
w

array([0.01386421, 0.5049067 ])